@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400&display=swap');
@import '../../../modules/header/header.scss';

.messages-sender-block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: #0f0f0f;
    padding: 0px 10% 0px 10%;
}

.send-messages-input-wrapper {
    width: 60%;
    height: 30px;
    padding: 0px 20px 0px 10px;
}

.send-messages-input {
    width: 100%;
    height: 100%;
    padding: 3px;
    background-color: #474747;
    border: 0px transparent;
    transition: $transition-effect;

    font-size: 15px;
    font-family: 'Laila', sans-serif;

    user-select: none;
    outline: none;
    color: #c5c5c5;
    resize: none;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #494949;
        border-radius: 3px;
        border: none;
    }
    &::-webkit-scrollbar-track {
        background: #333;
    }
    &:hover {
        transition: $transition-effect;
        border: 0.5px solid gray;
    }
    &:focus-within {
        transition: $transition-effect;
        border: 0.5px solid gold;
    }
}

.send-message-button {
    width: 100px;
    height: 30px;
    border: none;
    border-right: 1px solid #5a5a5a;
    border-left: 1px solid #5a5a5a;
    background-color: #1a1a1a;
    transition: $transition-effect;
    color: white;

    &:hover {
        transition: $transition-effect;
        background-color: #3f3f3f;
        border-color: rgb(208, 177, 0);
    }
    &:active {
        transition: $transition-effect;
        background-color: #4d4d4d;
        border-color: gold;
    }
}