@import '../../../../consts.scss';
.profile-image {
    position: relative;
    grid-area: B;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        'T1 IMG'
        'T2 IMG'
    ;
    justify-content: center;
    align-items: center;

    border: none;
    border-bottom: 1px solid $theme-gray-elem;

    font-family: 'Laila', sans-serif;
}

.settings-profile-image-wrapper {
    justify-self: center;
    width: 44%;
    padding: 22% 0px;
    margin: 0px 5%;
    grid-area: IMG;
    background-color: black;
    border-radius: 50%;
}

.settings-profile-name {
    align-self: flex-end;
    justify-self: right;
    font-size: 15px;
    color: $theme-text-color;
}

.settings-user-name {
    align-self: flex-start;
    justify-self: right;
    font-size: 25px;
    color: $theme-text-color;
}