@import '../../../../consts.scss';
.setting-name-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding-left: 20px;
    grid-area: B;
    border: none;
    border-bottom: 1px solid gray;
}

.setting-name {
    font-size: 40px;
}

.setting-name-description {
    font-size: 14px;
}

.setting-name-description, .setting-name {
    font-family: 'Laila', sans-serif;
    color: $theme-text-color;
}