@import '../../../../consts.scss';
.private-messages-choose-wrapper {
    width: 20%;
    position: relative;
    display: flex;
    height: 100%;
    background-color: $theme-dark-elem;
    border-right: 1px solid $theme-dim-border;
}