@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Junge&display=swap');
@import '../../../../../../consts.scss';

.info-submit-block {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    

    width: 100%;
    height: 80%;
}

.inputs-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

.user-input {
    position: relative;
    height: 28px;
    width: 70%;
    margin: 15px 0 10px 0;
    color: $theme-text-color;
    background-color: $theme-route-color;
    border: 1px solid $theme-border-color;
    padding: 0 5px 0 5px;
    font-family: 'Junge', serif;
    outline: none;
}
.user-input:focus-within {
    border: 1px solid $theme-border-particle;
}

.login-buttons-block {
    position: relative;
    height: 30%;
    width: 100%;
}

.login-button, .route-to-sign-in, .route-to-sign-up {
    position: absolute;
    user-select: none;
    outline: none;
    cursor: pointer;
}

.login-button {
    position: relative;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 40%;
    height: 25px;
    border: none;
    background-color: $theme-route-color;
}

.login-button-border {
    position: absolute;
    background-color: $theme-border-color;
    z-index: 2;
}

.border-top {
    top: 0;
    right: 0;
    height: 1px;
    width: 0;
}
.border-bottom {
    bottom: 0;
    right: 0;
    height: 1px;
    width: 0;
}
.border-left {
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
}
.border-right {
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
}
.login-button-back {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 0;
    background-color: $theme-text-color;
}

.login-button-title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-family: 'Junge', serif;
    color: $theme-text-color;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 3;
}
.login-button-title:hover {
    color: $theme-route-color;
    transition: ease-out 0.5s;
}
.login-button-title:active {
    background-color: $theme-border-particle;
    transition: 0s;
}

.route-to-sign-up, .route-to-sign-in {
    top: 60%;
    width: 80px;
    height: 25px;
    font-size: 12px;
    border: none;
    background-color: transparent;
    z-index: 3;
}

.route-to-sign-up:active, .route-to-sign-in:active {
    .route-button-svg-part {
        fill: black;
        transition: 0.1s;
    }
}

.route-to-sign-up {
    right: -10px;
}
.route-to-sign-in {
    left: -10px;
}