@import '../../../header.scss';

.message-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    fill: none;
    transition: $transition-effect;

    &:hover {
        .messge-icon-lower-part {
            stroke: $theme-hover;
            transition: $transition-effect;
        }
        .messge-icon-upper-part {
            fill: $theme-hover;
            transition: $transition-effect;
        }
    }
    &:active {
        .messge-icon-lower-part {
            stroke: $theme-text-color;
            transition: $transition-effect;
        }
        .messge-icon-upper-part {
            fill: $theme-text-color;
            transition: $transition-effect;
        }
    }
}

.messge-icon-lower-part {
    stroke: $theme-gray-elem;
}

.messge-icon-upper-part {
    fill: $theme-gray-elem;
}